*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}
.nav{
  padding:30px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color: white;
  color: #1496A4
}
.container{
  width:90%;
  margin:0 auto;
}
.container-lg{
  width: 100%;
}
.row{
  display:flex;
  flex-wrap:wrap 
}
.gap-2{
  gap:20px;
}
.d-flex{
  display: flex;
}
.center{
justify-content: center;
}
.between{
  justify-content: space-between;
}
.around{
  justify-content: space-around;
}
.align-center{
  align-items: center;
}
.col-6{
  width: calc(6*100/12)
}
.main-title{
  font-size: 50px;
  color:white;
}
.hero{
  background-color: #FC83A2;
}
.hero-img-box{
  height:300px;
  aspect-ratio:1/1;
  background-color: #FCE194;
}
.btn{
  border-radius:12px;
  padding:12px 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  border:none;
  color:white;
}
.btn:hover{
  padding: 14px 24px;
}
.btn-green{
  background-color: #B8E6DB;
}
.mt-3{
margin-top: 30px;
}
.mb-3{
  margin-bottom: 30px;
  }
