.App{
  height: 100vh;
}
.my-nav{
  padding:30px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color: white;
  color: #1496A4
}

.main-title{
  font-size: 60px;
  color:white;
  font-weight: 700;
}
.bg-pink{
  background-color: #FC83A2;
}
.hero-img-box{
position:relative;
padding:30px 0;
}
.my-hero-img{
  position: absolute;
  bottom: 0px;
  right: 4vW;
  max-width: 60%;
}
.btn{
  border-radius:12px;
  padding:12px 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  border:none;
  
}

.btn-green{
  background-color: #B8E6DB;
  font-weight: 700;
  color:white;
}
.btn-yellow{
  background-color: #FCE194;
  color: #1496A4;
}

.bg-yellow{
  background-color: #FCE194;
}
.bg-dark-blue{
  background-color: #1496A4;
}
.second-title{
  font-size: 44px;
  font-weight: 700;
}
.light-blue{
  color: #B8E6DB;
}
.dark-blue{
  color: #1496A4;
}

.yellow{
  color: #FCE194;
}
.my-card{
  width: 300px;
  height:400px;
  background-color: #B8E6DB;
  padding:20px;
}
.my-card:hover{
  background-color: #FCE194;
  border-radius: 20px;
}
.my-card-img-box{
  width: 250px;
  height: 200px;
  background-color: rgb(29, 26, 26);
}
