#root{
  height: 100vh;
  display:flex;
  flex-direction:column;
}
.my-nav{
  padding:30px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color: white;
  color: #1496A4
}

.main-title{
  font-size: 60px;
  color:white;
  font-weight: 700;
}
.bg-pink{
  background-color: #FC83A2;
}
.hero-img-box{
position:relative;
height:100%;

}
.my-hero-img{
  position: absolute;
  bottom: 0;
  right: 2vW;
  max-width: 60%;
}
.my-hero-bg{
  position: relative;
} 
  .my-btn{
    border-radius:12px;
    padding:12px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
  }
  .btn-dark-blue{
    background-color: #1496A4;
    font-weight: 700;
    color:white;
  }
  .btn-dark-blue:hover{
    background-color: #B8E6DB;
    color:#1496A4;
  }
  .btn-green:hover{
    background-color: #1496A4;
    color:white;
  }
  .btn-green{
    background-color: #B8E6DB;
    font-weight: 700;
    color:#1496A4;
  }
  .btn-yellow{
    background-color: #FCE194;
    color: #1496A4;
    font-weight: 700;
    border: 2px solid #1496A4;
  }
  .btn-yellow:hover{
    background-color: #fcd15c;
    color: white;
    border: 2px solid white;
  }
  .bg-green{
    background-color: #B8E6DB;
  }
  .bg-yellow{
    background-color: #FCE194;
  }
.bg-dark-blue{
  background-color: #1496A4;
}
.second-title{
  font-size: 44px;
  font-weight: 700;
}
.light-blue{
  color: #B8E6DB;
}
.dark-blue{
  color: #1496A4;
}

.yellow{
  color: #FCE194;
}
.my-card{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
  width:100%;
  padding:20px;
  height:100%
  
}
.my-card:hover{
  background-color: #FCE194;
  border-radius: 20px;
}
.my-card-img-box{
  width: 90%;
  height: 250px;
  
}
.my-card-img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position: top;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.685)
  
}
.tech-title{
  position:relative;
}
.icons-container{
  padding: 60px 50px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap: wrap;
  gap:70px;
  
}

.icons-left{
  
  border-radius:0 40px 40px 0;
}
.icons-right{
  
  border-radius:40px 0 0 40px;
}
.icon-box{
  width:60px;
  aspect-ratio: 1/1;
}
.icon-img{
  width:100%
}
.position-relative{
  position:relative;
}
.sub-text{
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;
}
.about-ab-line{
  position:absolute;
  right:-5%;
  bottom:0;
}
.about-ab-group{
  width: 120px;
  position:absolute;
  left:0%;
  top:-50%;
}
.repo-anchor{
  background-color: #FC83A2;
  padding: 10px 10px;
  border-radius:15px;
  margin:10px 0 26px 0;
  
}
.repo-anchor:hover{
  color: white;
  background-color: #FC83A2;
  padding: 10px 10px;
  border-radius:15px;
  border:2px solid white;
  margin: 8px 0 24px 0;
}
.form-ab-group{
  width: 200px;
  position:absolute;
  left:5%;
  top:-100%;
}

@media (min-width: 768px){
  .my-hero-bg{
    top:30%;
  }
  .icon-box{
    width: 80px;
  }
}
  @media (min-width: 1400px){
    .my-hero-bg{
      top:0;
    }
    .icon-box{
      width: 100px;
    }
}